.text {
	color: #fff;
}

.black {
	width: 100%;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: transparent;
	padding: 5vh 0;
}

@media screen and (min-width: 768px) {
	.black {
		display: flex;
	}
}

.text-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 80vh;
}

.panel-text {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
	font-size: 2.25em;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	background-color: transparent;

	transform: translateY(100%);
	opacity: 0;

	font-family: 'Bai Jamjuree', sans-serif;
}

.panel-text span{
	font-size: 1rem;
	letter-spacing: 2px;
	color: #ccc;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
}

.panel-text.blue-text {
	color: blue;
}

.panel-text.red-text {
	color: red;
}

.panel-text.purple-text {
	color: purple;
}

.panel-text.orange-text {
	color: orange;
}

.p-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 80vh;
	border-radius: 20px;
}

.panel {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.panel.blue {
	z-index: auto;
}

.panel.red {
	z-index: auto;
	background-color: red;
	background-image: none;
}

.panel.orange {
	z-index: auto;
	background-color: #cf5d00;
	background-image: none;
}

.panel.purple {
	z-index: auto;
	background-color: #808;
	background-image: none;
}

@media screen and (min-width: 500px) {
	.panel-text {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 550px) {
	.panel-text {
		font-size: 2.75em;
	}
}

@media screen and (min-width: 600px) {
	.panel-text {
		font-size: 3em;
	}
}

@media screen and (min-width: 768px) {
	.black {
		flex-direction: row;
	}
	.panel-text {
		font-size: 3.5em;
	}
}
